:root {
  /* Global Tokens */

  --white: #fbfbfb;

  --gray-800: #181818;
  --gray-400: #363434;

  --gray-600: rgba(69, 69, 69, 1);
  --bluegray: #6b7788;

  --green-600: #99bea1;
  --green-100: #b7d1bd;

  --red-600: #e17f7b;
  --red-200: #eaa6a3;

  /* Alias Tokens - se enkelt element*/

  --color-bg: ;
  --color-text-base: ;
  --color-text-muted: ;

  --color-bg-blur: ;

  --color-ghost-base: ;

  --color-button-bg: ;
  --color-button-bg-highlight: ;

  --color-button-text: ;
  --color-button-text-highlight: ;

  --color-button-border: ;
  --color-button-border-highlight: ;

  /* Tekst layout */

  --font-family-heading: "Poppins", sans-serif;
  --font-familiy-clara: "Source Serif Pro", serif;
  --font-family-paragraph: "Poppins", sans-serif;

  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-bolder: 800;

  --heading-line-height: ;
  --text-line-height: ;

  --letter-spacing-small: ;
  --letter-spacing-medium: ;

  /* text size */

  --heading-font-size-xxxl: clamp(86.05px, 1.83vw + 78.72px, 102.19px);
  --heading-font-size-xxl: clamp(61.47px, 1.31vw + 56.23px, 72.99px);
  --heading-font-size-xl: clamp(43.9px, 0.94vw + 40.16px, 52.14px);
  --heading-font-size-lg: clamp(31.36px, 0.67vw + 28.69px, 37.24px);

  --text-font-size-largest: clamp(22.4px, 0.48vw + 20.49px, 26.6px);
  --text-font-size-default: clamp(16px, 0.34vw + 14.64px, 19px);
  --text-font-size-small: clamp(11.43px, 0.24vw + 10.45px, 13.57px);

  --border-radius-large: 18px;
  --border-radius-medium: 12px;
  --border-radius-small: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--white);
}

main {
}

.testWrap {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 10rem;
}

.testWrap > * {
  margin: 1rem;
}

/* Knapper components */

[data-button="primary"] {
  --color-button-bg: var(--green-600);
  --color-button-text: var(--white);
  --color-button-text-highlight: var(--white);
  --color-button-bg-highlight: var(--green-100);
  --color-button-border: none;
}

[data-button="secondary"] {
  --color-button-border: var(--green-600);
  --color-button-bg: var(--white);
  --color-button-text: var(--green-600);
  --color-button-text-highlight: var(--white);
  --color-button-bg-highlight: var(--green-600);
  --color-button-border-highlight: var(--green-600);
}

/* [data-button="ghost"] {
  --color-button-border: none;
   --color-button-text: var(--bluegray);

} */

[data-button="tetriary"] {
  --color-button-border: none;
  --color-button-bg: var(--red-600);
  --color-button-text: var(--white);
  --color-button-text-highlight: var(--white);
  --color-button-bg-highlight: var(--red-200);
}

button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: var(--color-button-bg);
  color: var(--color-button-text);
  border-radius: 5px;
  font-weight: 800;
  border: solid 2px var(--color-button-border);
  max-width: 10rem;
}

button:hover {
  background: var(--color-button-bg-highlight);
  color: var(--color-button-text-highlight);
  border: solid 2px var(--color-button-border-highlight);
}

.ghost {
  color: var(--bluegray);
  text-decoration: none;
}

.ghost:hover {
  border-bottom: solid 2px #6b7788;
}

/* Navbar forside */

.navFlexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Login form */

/* general styling */

body {
  font-family: "Open Sans", sans-serif;
}

form {
  max-width: 300px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--gray-400);
  border-radius: 0.1875rem;
  box-sizing: border-box;
  display: block;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  padding: 0.275rem;
  width: 100%;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
}

input[type="password"] {
  margin-bottom: 0.5rem;
}

input[type="submit"] {
  background-color: var(--gray-400);
  border: none;
  color: var(--white);
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

label {
  color: #666;
  font-size: 0.875rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.split_left {
  margin-left: 12rem;
  margin-top: 19rem;
}

.split_right video {
  height: 100vh;
  align-items: right;
}
